<div class="body-background">
    <div class="body">
        <h1 class="body__title"> На этом сайте мы использовали </h1>
        <h2 class=" body__subtitle"> Сприсок фремворков и технологий </h2>
        <div class="body__container">
            <div class="block">
                <img src="../../assets/images/2.png">
                <h2 class="blockName">Angular</h2>
            </div>
            <div class="block">
                <img src="../../assets/images/1.png">
                <h2 class="blockName">Django</h2>
            </div>
            <div class="block">
                <img src="">
                <h2 class="blockName"> Block</h2>
            </div>
            
            
        </div>
    </div>
</div>