<div id="header-wrapper">
    <div class="header">
      <div class="brand">
        <div class="brand__logo">
          <img routerLink="/" src="../../assets/images/SH_logo.svg" />
          <h1 class="brand__corp" routerLink="/">Stoch</h1>
        </div>
      </div>
  
      <div class="menu">
        <div class="component"><h2 routerLink="/login">Login</h2></div>
        <div class="component"><h2 routerLink="/registration">Registration</h2></div>
        <div class="component"><h2>About us</h2></div>
      </div>
    </div>
  </div>
<router-outlet></router-outlet>
