<div class="head-block">
    <div class="content">
        <h1 class="content__title"> Курсовой проект</h1>
        <p class="content__paragaph">Данный проект сделан для учебных целей при
            поддержке команды StonedSh. На примере данного сайта студент показывает
            результат своей учебной деятельности, умения работать с современным
            инструментарием для web-разработки а так же умение работать в команде.</p>
        <div class="content__button button_position"> GitHub </div>
    </div>
</div>
